.grid {
  display: flex;                       
  flex-wrap: wrap;                     
  justify-content: space-around;
  
}
.cell {
  flex: 0 0 32%;                       
  height: 250px;
  margin-bottom: 15px;
  background-color: #999;
}
